page-login {
  .logo {
    width: 80px;
    height: 80px;
    margin: 20px auto 0;
    border-radius: 10%;
    background: url("../../assets/imgs_gcm/salud_login.png") no-repeat;
    background-size: 100%; 
  }
  .link_llamar {
    color: #7cc67c;
    text-decoration: none;
  }
}


