page-datos {
  .pform {
    font-style:serif;
    position: center;
    text-align: center;
  }
  .danger {
    color: red;
  }
  .success {
    color: green;
  }
  .initial {
    white-space: initial;
  }
}
