page-retraso {
  .pform {
    font-style: serif;
    position: center;
    text-align: center;
    font-weight: bold;
    font-size: 16px
  }
  .item_paciente {
    margin: 5px 0px;
  }
  .ion-img {
    width: 60%;
    height: 60%;
  }
  .link_llamar {
    color: white;
    text-decoration: none;
  }
}
